/* Responsive Adjustments */
@media (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }
    
    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .timeline-item:nth-child(even) {
        left: 0;
    }
    
    .timeline-item::after {
        left: 18px;
    }
    
    .timeline-item:nth-child(odd) .timeline-date,
    .timeline-item:nth-child(even) .timeline-date {
        left: auto;
        right: auto;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .timeline-content {
        padding: 15px;
    }
    .profile-img {
        width:  400px;
        height: 400px;
      
    }
    #action-btn{
        margin: auto ;
        text-align: center;
      }

}
/* iphone xr */
@media (max-width: 330px){
    .profile-img {
        width:  250px;
        height: 250px;
      
    }
    .hero-section .btn{
      font-size: 15px;
      text-align: center;
    }

}
/* iPhone X, XS, XS MAx */
@media (max-width: 458px){
    .hero-section .btn{
        font-size: 15px;
        display: grid;
        margin: auto;
        justify-content: space-evenly;
      }

}
/* mid-range android phones */
@media (max-width: 385px){
    .hero-section #btns{
        font-size: 10px;
        margin: auto 70px;
      }
      #action-btn{
        margin: auto ;
        text-align: center;
      }

.hero-section .image-fluid{
Border: 3px solid blue;


}

}