/* Responsive Adjustments */
@media (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }
    
    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .timeline-item:nth-child(even) {
        left: 0;
    }
    
    .timeline-item::after {
        left: 18px;
    }
    
    .timeline-item:nth-child(odd) .timeline-date,
    .timeline-item:nth-child(even) .timeline-date {
        left: auto;
        right: auto;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .timeline-content {
        padding: 15px;
    }
    .profile-img {
        width:  400px;
        height: 400px;
      
    }
}